<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendSelectLevelActivity"
            android:label="@string/title_activity_friend_select_level" >
        </activity>
        <activity
            android:name=".FriendInGameActivity"
            android:label="@string/title_activity_friend_in_game" >
        </activity>
        <activity
            android:name=".FriendLevelsOverview"
            android:label="@string/title_activity_friend_levels_overview" >
        </activity>
        <activity
            android:name=".FriendPostGameActivity"
            android:label="@string/title_activity_friend_post_game" >
        </activity>
        <activity
            android:name=".ComputerInGameActivity"
            android:label="@string/title_activity_computer_in_game" >
        </activity>
        <activity
            android:name=".ComputerSelectDifficultyActivity"
            android:label="@string/title_activity_computer_select_difficulty" >
        </activity>
        <activity
            android:name=".ComputerPostGameActivity"
            android:label="@string/title_activity_computer_post_game" >
        </activity>
        <activity
            android:name=".ComputerSelectLevelActivity"
            android:label="@string/title_activity_computer_select_level" >
        </activity>
        <activity
            android:name=".FriendSelectLevelTemp"
            android:label="@string/title_activity_friend_select_level_temp" >
        </activity>
    </application>

</manifest>
